<div class="col-md-4"></div>
<div class="container col-md-4">
  <img src="http://www.gadome.com/img/new_marta_rail_map.jpg"/>
  <div class="container" style="width: 50%; ">
  <style>
  img {
    width: 100%;
    margin-bottom: 20px;
  }
  button {
    width: 100%;
  }
  </style>
  <div class="dropdown" style="margin-bottom: 50px;">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">From
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#/">test</a></li>
        <li><a href="#/">test</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">To
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">{{directions}}</div>
